.idea/codeStyles/Project.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/reviewC.iml
.idea/vcs.xml
.idea/workspace.xml
CMakeLists.txt
array_len.c
cPointer.c
cPointer.cpp
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
colddays.c
dowhile.c
for.cpp
long_printf.c
power.cpp
scanf.c
strlen.c
var01.c
while.c
